body {
    background-image: url(assets/images/full-bloom.png);
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
}
.textwrap {
    float: left;
}

#contentArea {
    width: 960px;
    margin: auto;
}

#contentHeader {
    position: relative;
    width: 960px;
    margin: auto;
    border: 0px;
    
}

#navigationLinks {
    position: absolute;
    bottom:0px;
    right:0px;

}

#nameSpace {
    width: 160px;
    float: left;
    background-color: #4aaaa5;
    padding: 20px;
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    width: 90px;
    text-align: center;
    text-decoration: none;
    background-color: lightgray;
    padding: 10px 0px 10px 0px;
}
li a:visited {
    color:black;
}
li a:hover {
    background-color: lightslategray;
    color: whitesmoke;
}

li {
    float: left;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#yourNameHere {
    color:white;
}